head
	meta(http-equiv="Content-Type", content= web.content_type + ' ' + web.charset )
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name='keywords', content=web.keywords)
	link(rel="shortcut icon", href="/img/blob.ico")
	link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
	title=web.title